
:root {
  --font1: "Roboto", sans-serif;
  --font2: "Playfair Display", serif;
  --color1: rgba(7, 6, 0, 1); /*Black*/
  --color2: rgba(234, 234, 234, 1); /* light grey*/
  --color3: rgba(104, 104, 104, 1); /*grey*/
  --color4: rgba(145, 142, 244, 1); /*Purple*/
  --color5: rgba(244, 68, 46, 1); /* Tomato*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font1);
  /* border: 1px solid tomato; */
}


/*Section for the navigation bar*/
.navigation {
  display: flex;
  position: relative;
  font-family: "Roboto", monospace;
  text-align: center;
  background-color: #f5fbfc;
  opacity: 0.7;
  grid-template-columns:150px auto;
  align-items: center;
}

.logo {
  width: 50%;
  height: auto;
  position: relative;
}

.menu {
  width: 50%;
  border-radius: 10px;
  padding: 5px;
}

.menu .menuItems {
  list-style: none;
  display: flex;
  justify-content: right;
}

.menu .menuItems li {
  margin: 0 5% 0 20%;
}

.menu .menuItems li a {
  text-decoration: none;
  color: rgb(138, 126, 126);
  font-size: 2em;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu .menuItems li a::before {
  content: attr(data-item);
  transition: 0.3s;
  color: #ee5522;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.menu .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

.css-3d-text {
  font-size: 69px;
  color: var(--color2);
  font-family: Roboto, sans-serif;
  text-shadow: 0px 0px 0 var(--color3), 1px 0px 0 var(--color3),
  2px 0px 0 var(--color3), 3px 0px 0 var(--color3), 4px 0px 0 var(--color3),
  5px 0px 0 var(--color3), 6px 0px 0 var(--color3),
  7px 0px 6px rgba(0, 0, 0, 0.43), 7px 0px 1px rgba(0, 0, 0, 0.5),
  0px 0px 6px rgba(0, 0, 0, 0.2);
}

.body-3d {
  display: none;
}

.card {
  margin: 1rem;
  border: 1px solid var(--color2);
  font-family: var(--font1);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -15px -15px 15px rgba(212, 188, 188, 0.2),
  15px 15px 15px rgba(0, 0, 0, 0.1), -15px -15px 15px rgba(255, 255, 255, 0.2),
  15px 15px 15px rgba(0, 0, 0, 0.1);
  background-color: rgba(145, 142, 244, 0.8);
  padding-bottom: 1rem;
  height: auto;
}

.head-content {
  margin-top: 1rem;
  padding: 0 0.8rem;
}

.head-content h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.head-content p {
  text-align: center;
  color: var(--color2);
  margin-bottom: 1rem;
}

.card-body {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body h2 {
  text-align: center;
}

.card-body h3 {
  /* color: var(--color5); */
  color: rgba(35, 177, 110, 1);
  text-shadow: 2px 2px 4px var(--color1);
  font-size: 1rem;
}

.body-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.box {
  display: flex;
}

.box-5 {
  grid-column: 1/3;
}

.breed-detail {
  color: var(--color2);
  font-size: 0.9rem;
  margin-left: 1rem;
}

.button {
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color2);
  background-color: var(--color5);
  box-shadow: 4px 4px 15px var(--color3);
  cursor: pointer;
  border: none;
  border-radius: 15px;
  position: relative;
  transition: box-shadow 0.5s linear;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 177, 110, 1);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.button:hover {
  box-shadow: 4px 4px 15px var(--color2);
  font-size: 1.2rem;
}

.button:hover::before {
  transform: translateX(0);
}

.fa-paw:hover {
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -999;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 7%;
  width: 165px;
  height: 165px;
  bottom: -165px;
  animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 18%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 1s;
}

.background li:nth-child(2) {
  left: 42%;
  width: 148px;
  height: 148px;
  bottom: -148px;
  animation-delay: 10s;
}

.background li:nth-child(3) {
  left: 85%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 6s;
}

.background li:nth-child(4) {
  left: 3%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 9s;
}

.background li:nth-child(5) {
  left: 61%;
  width: 179px;
  height: 179px;
  bottom: -179px;
  animation-delay: 7s;
}

.background li:nth-child(6) {
  left: 37%;
  width: 146px;
  height: 146px;
  bottom: -146px;
  animation-delay: 16s;
}

.background li:nth-child(7) {
  left: 61%;
  width: 123px;
  height: 123px;
  bottom: -123px;
  animation-delay: 2s;
}

.background li:nth-child(8) {
  left: 24%;
  width: 155px;
  height: 155px;
  bottom: -155px;
  animation-delay: 10s;
}

.background li:nth-child(9) {
  left: 89%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 26s;
}

.container-footer {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 30px 0;
}

.footer-col {
  width: 20%;
  padding-left: 5%;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  margin-left: -10px;
  padding-right: 120px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

@media screen and (min-width: 375px) {
  .card {
    max-width: 425px;
  }

  .head-content,
  .card-body {
    padding: 0.8rem 1.5rem;
  }

  .head-content p {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 425px) {
  .card {
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 470px) {
  .card {
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-3d {
    display: none;
  }

  .body-3d {
    display: block;
    margin-bottom: 2rem;
  }

  .card {
    display: flex;
    max-width: 650px;
  }

  .card-head {
    max-width: 300px;
  }

  .card-body {
    display: block;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
}

